body{
	margin: 0;
}


.movecenter{
	text-align: center;
}

.make-bold{
	font-weight: bold;
}

table{
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

th{
	padding: 5px;
	border: 1px solid black;
}

td{
	padding: 5px;
	border: 1px solid black;
}

tr{
	padding: 5px;
	border: 1px solid black;
}

#pad{
	padding-right: 50px;
	padding-left: 50px;
}

#spaceforform{
	margin-right: 75px;
	margin-left: 75px;
}

#ggr4{
	margin-right: 75px;
	margin-left: 75px;
}

#ggr5{
	margin-right: 75px;
	margin-left: 75px;
}